:root{
  --backgroundColor: #222226; /*mørkegrå*/
  --deselectColor: #707075; /*lys grå*/
  --basicColor: #fbfbfb; /*melhvid*/
  --combatColor: #FB7E7E; /*bleg rød*/
  --ambienceColor: #FFA0FF; /*lyserød*/
  --placeColor: #FFEE8C; /*bleg gul*/
  --plotColor: #82CFFF; /*baby blå*/
  --old_plotColor: #4C97F7; /*mørkeblå*/
  --shadowfellColor: #80a990; /*grågrøn*/
}

body{
  background-color: var(--backgroundColor);
}

.flex_container{
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  align-content: flex-start;
}

#selectorBox{
  margin: 20px;
  padding: 5px;
  font-size: 16px;
  height: 100px;
  width: 320px;
}

#buttonBox{
  margin: 20px;
  padding: 5px;
  font-size: 16px;
  height: 500px;
  width: 320px;
}

/* -------Selector-------*/
.filterDiv{
  color: var(--basicColor);
}

.filterDiv:hover{
  background-color: var(--basicColor);
  border-color: var(--basicColor);
}

.deselected{
  color: var(--deselectColor);
  border-color: var(--deselectColor);
}

.deselected:hover{
  background-color: var(--deselectColor);
}

/*------buttons------*/

button{
  background-color: var(--backgroundColor);
  font-size: 14px;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  padding: 5px;
  margin: 5px;
}

button:hover{
  color: var(--backgroundColor);
}

.basic{
  color: var(--basicColor);
  border-color: var(--basicColor);
}

.basic:hover{
  background-color: var(--basicColor);
}

.combat{
  color: var(--combatColor);
  border-color: var(--combatColor);
}

.combat:hover{
  background-color: var(--combatColor);
}

.ambience{
  color: var(--ambienceColor);
  border-color: var(--ambienceColor);
}

.ambience:hover{
  background-color: var(--ambienceColor);
}

.place{
  color: var(--placeColor);
  border-color: var(--placeColor);
}

.place:hover{
  background-color: var(--placeColor);
}

.plot{
  color: var(--plotColor);
  border-color: var(--plotColor);
}

.plot:hover{
  background-color: var(--plotColor);
}

.old_plot{
  color: var(--old_plotColor);
  border-color: var(--old_plotColor);
}

.old_plot:hover{
  background-color: var(--old_plotColor)
}

.shadowfell{
  color: var(--shadowfellColor);
  border-color: var(--shadowfellColor);
}

.shadowfell:hover{
  background-color: var(--shadowfellColor);
}
