.FrankStone {
  margin: 0px 0px 0px 0px;
  display: inline-block;
  color: darkgrey;
  background-image: linear-gradient(darkred, black);
  padding: 5px 8px;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: normal;
  border-radius: 3px;
  border: none;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
