.jesuschrois{
  color: black;
  background-image: linear-gradient(tan, peru);
  padding: 5px 8px;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: normal;
  border-radius: 3px;
  border: none;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
